/* Os estilos serão globais */

body {
  background-color: #efefef;
  font-family: monospace;
  margin: 0;
  box-sizing: border-box;
}

img {
  border-radius: 8px;
}

.titulo {
  color: brown;
}

.paragrafo {
  font-style: italic;
}

.mensagem {
  background-color: whitesmoke;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 8px;
  width: 300px;
  margin: 8px auto;
}

h1 {
  text-align: center;
}
